<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/main.css">
    <title>Over Ons</title>
</head>
<body>
    <header>
        <h1>ABOUT US</h1>

        <div class="login-registratie">
            <a class="a-registratie" href="../registratie/registratie.html">Registratie</a>
            <a class="a-registratie" href="../login/login.html">Login</a>
        </div>

        <div>
            <img class="img-logo" src="logo.png">
        </div>

        <div class="container-nav">
            <a class="home-pagina" href="../HOME/Home.html">Home</a>
            <a class="home-pagina" href="../ABOUT US/about.html">Over Ons</a>
            <a class="home-pagina" href="../Student Beheer/student beheer.html">Studenten Beheer</a>
            <a class="home-pagina" href="../studentenhuisvesting beheren/studentenhuisvesting beheren.html">StudentHuisVesting Beheren</a>
            <a class="home-pagina" href="../MANAGING HOUSING PROVIDERS/managing huising provider.html">Beheer Van Huisvester</a>
            <a class="home-pagina" href="../MANAGING HOUSING PROVIDERS/managing huising provider.html">WoonBeheer</a>


        </div>
    </header>

    <section class="img-ons">
        <div class="img-ons-div">

                <img class="img-over-ons" src="overons.jpg" alt=""  >

                <img class="over-ons-2" src="overons2.png" alt="">

        </div>
    </section>


    <section class="text-section">
        <div class="text-wrapper">

            <div class="text-outer">
                <div class="text-inner">
                    <p class="text-p">
                        <b>5 voorbeelden voor je eigen over ons pagina</b> <br><br>
                            Vrijwel elke website heeft een over ons pagina. Toch is dit vaak niet de meest spannende pagina op de website en dat is jammer. <br><br> Maar wat vertel je over je bedrijf of blog, dat interessant genoeg is voor je bezoeker?  <br>Of beter nog: wat ervoor zorgt dat bezoekers tot actie overgaan? <br> In deze blogpost deel ik verschillende tips, aan de hand van 5 verschillende goede voorbeelden.
                            Hoe belangrijk is de over ons pagina? <br><br>
                            <b>Er kunnen verschillende redenen zijn waarom een bezoeker je over ons pagina bekijkt. Bijvoorbeeld: </b> <br>

                            <b>Om te controleren of je website wel betrouwbaar is, net voor het plaatsen van een aankoop.</b>  <br>
                            <b>Om te kijken of je website interessant genoeg is voor een eventuele samenwerking.</b>  <br><br>  
                            Maar het kan ook zijn dat de bezoeker gewoon aan het oriënteren is en iets meer over je website te weten wil komen. <br>
                            In de eerste 2 voorbeelden kan de over ons pagina dus echt een verschil maken. <br><br> Maar de vraag is nu: hoe vaak bekijken bezoekers deze pagina nu echt?

                            Als ik naar de statistieken van SuperBlogger kijk, <br><br> bekijkt gemiddeld 0,5% van mijn bezoekers de over pagina. <br><br> Maar deze bezoekers bekijken gemiddeld wel 5.3 pagina’s en spenderen meer dan 6 minuten op de website.

                            Deze bezoeker zijn dus meer geïnteresseerd en willen misschien wel contact op nemen of deelnemen aan een workshop. De over pagina mag deze bezoekers dan niet teleurstellen en wegjagen.
                            3 basisregels voor je over ons pagina
                            Maar hoe maak je dan een goede over ons pagina? Welke informatie deel je en in welke volgorde? Voordat ik enkele goede voorbeelden bespreek, <br> wil ik eerst 3 ontzettend belangrijke regels delen. Dit is de basis waar wij straks mee verder gaan: <br>

                            <b><br>Regel 1: je over ons pagina draait nog steeds om de bezoeker</b><br><br>
                            Dit klinkt misschien gek, maar ondanks dat de over ons pagina het woordje ‘ons’ bevat, hoort óók deze pagina nog over je bezoeker te gaan.

                            Het doel van de pagina is namelijk om je bezoeker te overtuigen van jouw expertise. En dat doe je het beste door in te spelen op de verwachtingen en problemen van je bezoeker. Dat de bezoeker zich in je verhaal kan herkennen, is de sleutel tot een goede over ons pagina. <br><br>

                            <b>Regel 2: je over ons pagina moet tot een actie kunnen leiden</b><br><br> 
                            De over ons pagina mag geen pagina worden waar bezoekers vastlopen en vervolgens weggaan. Ook op deze pagina wil je dat bezoeker weer verder gaat of nog beter: tot actie overgaat.

                            Verwerk dus altijd een call to action in je pagina. Dit kan zijn:

                            Een vraag om feedback
                            Een overzicht van je producten
                            Een inschrijfformulier voor de nieuwsbrief
                            Een overzicht van een aantal blogposts
                            Buttons om je te volgen op social media
                            Kies voor een conversie element dat voor jou belangrijk is en past bij je pagina.
                    </p>
                </div>

            </div>


            <div class="foto-outer">
                <div class="foto-inner">
                    <img class="masoud-img" src="masoud.jpg" alt="">
                    <p class="masoud-p">Masoud Khasismatouri</p>


                    <img class="masoud-img" src="masoud.jpg" alt="">
                    <p class="masoud-p">Masoud Khasismatouri</p>
                    
                    
                </div>

            </div>

        </div>
        
    </section>


    <footer>
        <div class="footer-wrapper">
            <div class="footer-1-outer">
                <div class="footer-1-inner">

                    <a href="https://www.linkedin.com/in/masoud-khm-881255264/" ><img class="icone-linkedin" src="linkedin.png" alt=""></a><br>
                    <a href="https://gitlab.com/"><img class="icone-gitlab" src="gitlab.png" alt=""></a><br>
                    <a href="https://www.instagram.com/"><img class="icon-insta" src="instagram.png" alt=""></a><br>
                    <a href="https://www.facebook.com/masoud.wiz/"><img class="icon-facebook" src="facebook.png" alt=""></a><br>
                    <a href="https://web.whatsapp.com/"><img class="icon-watsapp" src="icon.png" alt=""></a>

                   

                </div>

            </div>

            <div class="footer-2-outer">
                <div class="footer-2-inner">
                    <p class="email-p">Masoud Khasismatouri</p>
                    <p class="email-p">Morhaf Derbas</p>
                    <p class="email-p">masoudkhm1991@yahoo.com morhaf@gmail.com <br><br>tel:0636119192 <br>0636119192</p>
                    <p class="email-address">Address: Amsterdam.ZuidOost.1050 MM</p>
                    <p class="built-p">the site built: by.Masoud.Morhaf.2024</p>


                </div>

            </div>


            <div class="footer-3-outer">
                <div class="footer-3-inner">
                    <img class="patient" src="patient.png" alt="">\
                    <p class="contact-us">Contact Us</p>
                </div>

            </div>

        </div>
    </footer>


</body>
</html>