<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Registratie</title>
</head>
<body>

    <header>
        
        <div class="img-div">
            <img class="img-logo" src="logo.png">

            <a class="home" href="../HOME/Home.html">Home</a>

            </div>

            <!-- <div class="registratie-div">

            <p class="registratie-p">registratie</p>

            </div> -->

    </header>


    <section class="registratie-section">
        <div class="registratie-wrapper">

            <div class="registratie-1-outer">
                <div class="registratie-1-inner">

                    <b> Registratie van leden vereist om toegang te krijgen tot privé-inhoud</b>
                        <br> Laatst bijgewerkt: maart 30, 2024
                </div>

            </div>

            <div class="registratie-outer">
                <div class="registratie-inner">

                    <form class="form" action="">

                        <label type="name" name="name">Name</label>
                        <br>
                        <input type="Name">

                        <br><br>

                        <label for="">E-mail</label>
                        <br>
                        <input type="email" name="email" id="email">

                        <br><br>

                        <label for="">UserName</label>
                        <br>
                        <input type="text" name="username" id="username">

                        <br><br>

                        <label for="">Password</label>
                        <br>
                        <input type="password" name="Password" id="Password">
                        <br><br>
                        <button type="submit">Registeren</button>


                    </form>
                </div>

            </div>

        </div>

    </section>


    <footer>

        <div class="footer-section">

            <div class="footer-wrapper">

                <div class="outer-div">
                    <div class="inner-div">
        
                        <p>masoudkhm1991@yahoo.com</p>
                        <!-- <p>morhaf@gmail.com</p> -->

                        <a  href="https://www.linkedin.com/in/masoud-khm-881255264/" ><img class="icone-linkedin" src="linkedin.png" alt=""></a>
                        
        
                    </div>
                </div>


                <div class="outer-media-div">
                    <div class="inner-media-div">

                        <a class="media-nav" href="https://www.linkedin.com/in/masoud-khm-881255264/" ><img class="icone-linkedin" src="linkedin.png" alt=""></a>
                        <a class="media-nav" href="https://gitlab.com/"><img class="icone-gitlab" src="gitlab.png" alt=""></a>
                        <a class="media-nav" href="https://www.instagram.com/"><img class="icon-insta" src="instagram.png" alt=""></a>
                        <a class="media-nav" href="https://www.facebook.com/masoud.wiz/"><img class="icon-facebook" src="facebook.png" alt=""></a>
        
                    </div>
                </div>


                <div class="outer-div">
                    <div class="inner-div">
        
                        <p>morhaf@gmail.com</p>

                        <a  href="https://www.linkedin.com/in/masoud-khm-881255264/" ><img class="icone-linkedin" src="linkedin.png" alt=""></a>


        
                    </div>
                </div>
    
            </div>

        </div>

    </footer>

    
    
</body>
</html>

