body{
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
}


.provider-header{
    height:180px;
    background: rgb(244, 128, 128);
}

.pro-h1{
    text-align: center;
    padding: 20px;
}


.register{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    color: black;
}

.login-register{
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    border: 2px solid black;
}


.img-logo{
    width: 120px;
    height: 120px;
    margin-left: 20px;
    border-radius: 60px;
    margin-top: -80px;
}


.container-nav{
    height: 15%;
    padding: 10px;
    margin-top: -30px;
    margin-left: 630px;
    text-align: center;
    background: rgb(255, 187, 153);
    /* border: 2px solid rgb(0, 255, 89); */
}

.home-pagina{
    font-size: 20px;
    text-decoration: none;
    margin-right: 6px;

}


.student-h2{
    border: 2px solid green;
}

.student-toe{
    border: 2px solid red;
    text-align: center;
}